---
import MainLayout from "../../layouts/MainLayout.astro";
import albumsFile from './_albums.json';
import { Album } from "./_types";

export async function getStaticPaths() {
    const albums = (Object.values(albumsFile) as Album[]).filter(
        (album) => album.pictures && album.pictures.length > 0
    );

    return albums.map((album) => ({ params: { id: album.id }, props: { album } })); 
}

const album = Astro.props.album as Album;
---

<MainLayout title={album.name}>
    <div class="max-w-4xl mx-auto grid gap-2">
        <div class="bg-white rounded p-6 relative">
            <h1 class="text-center text-orange-500 text-2xl">{album.name}</h1>
            <a href="/albums" class="bg-black absolute top-2 left-2 rounded-full text-white p-0.5 shadow cursor-pointer hover:scale-90 transform duration-150">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                  </svg>
            </a>
        </div>
        <div class="grid grid-cols-3 gap-3 my-6">
            { album.pictures.map((picture) => <><div class="relative">
                <img class="rounded" src={`/images/pictures/${picture.name}.jpg`} />
            </div></>) }
        </div>
    </div>
</MainLayout>

