---
export interface Props {
	title: string
    description: string
}

const { title } = Astro.props as Props;
---
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Flickshot | {title}</title>
</head>